body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    padding: 20px;
    background: #222;
    color: white;
    margin: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    background: #333;
    padding: 10px;
}

.scroll-btn {
    background: #222;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
}

.scroll-btn:hover {
    background: #444;
}

nav {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    flex-grow: 1;
    padding: 10px;
}

nav::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

nav a {
    flex: 0 0 auto;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    background: #444;
    border-radius: 4px;
    transition: background 0.3s;
}
nav a.active {
    background: #ff9800; /* Highlight color */
    color: white;
    font-weight: bold;
}


nav a:hover, nav a.active {
    background: #555;
}

main {
    width: 100%;
    padding: 20px;
}

iframe {
    width: 90%;
    height: 80vh;
    border: none;
    background: white;
}
